@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Darker+Grotesque:wght@300..900&family=Fira+Code:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Darker+Grotesque:wght@300..900&family=Fira+Code:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", serif;
    color: #ffffff;
    outline: none;
    font-weight: 600;
}

body {
    background: url('images/bg-image.avif');
    height: 100dvh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

body::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100dvh;
    background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(15px);
}

.main-container {
    width: 300px;
    height: 496px;
    z-index: 1;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.15), rgba(255, 255, 255, 0.15));
    border-radius: 12px;
    backdrop-filter: blur(10px);
    padding: 20px;
}

.searchBar {
    position: relative;
    margin-bottom: 25px;
}

.city-search {
    width: 100%;
    padding: 10px 16px;
    border-radius: 99px;
    border: 3px solid transparent;
    background: rgba(0, 0, 0, 0.15);
    font-weight: 500;
    transition: 0.25s border;
    padding-right: 45px;
}

.city-search:focus {
    border: 3px solid rgba(0, 0, 0, 0.15);
}

.city-search::placeholder {
    color: rgba(255, 255, 255, 0.75);
}

.search-btn {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translatey(-50%);
    background: none;
    display: flex;
    border: none;
    cursor: pointer;
}

.weather-info {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.location-date-container {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.location {
    display: flex;
    align-items: center;
    gap: 6px;
}

.location p{
    font-weight: lighter;
    font-family: "Source Code Pro", serif;
    font-weight: 200;
    font-style: normal;
}

.regular-txt {
    font-weight: 400;
}

.weather-summary-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.weather-summary {
    width: 120px;
    height: 120px;
}

.weather-summary-info {
    text-align: end;
}

.weather-condition-container {
    display: flex;
    justify-content: space-between;
}

.condition-item {
    display: flex;
    align-items: center;
    gap: 6px;
}

.condition-item span {
    font-size: 30px;
}

.forcast-items-container {
    display: flex;
    gap: 15px;
    overflow: scroll;
    padding-bottom: 12px;
}

.forcast-items-container::-webkit-scrollbar {
    height: 6px;
    width: 100%;
}

.forcast-items-container::-webkit-scrollbar-track {
    background: rgb(0, 0, 0, 0.1);
    border-radius: 99px;
}

.forcast-items-container::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0, 0.15);
    border-radius: 99px;
}

/* .forcast-items-container::-webkit-scrollbar-track{
    background: rgb(255, 255, 255, 0.1);
    border-radius: 99px;
}

.forcast-items-container::-webkit-scrollbar-thumb{
    background: rgb(0, 0, 0, 0.15);
    border-radius: 99px;
} */

.forcast-item {
    min-width: 70px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 10px;
    align-items: center;
    border-radius: 12px;
    transition: 0.3s background;
}

.forcast-item:hover {
    background: rgb(255, 255, 255, 0.15);
}

.forcast-img {
    width: 35px;
    height: 35px;
}

.search-city-container{
    display: grid;
    gap: 20px;
}

.data-not-found{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text{
    text-align: center;
}

.search-txt{
    font-weight: 200;
}

/* .loader{
    height: 40px;
    width: 40px;
    border: 3.2px solid #fff;
    border-top: 3.2px solid transparent;
    border-radius: 50%;
    animation: spin .6s linear infinite;
    margin: auto;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
} */